a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  color: inherit;
}


.nav2 {


  position: fixed;
  z-index: 1000;
  background-color: #ffffff;

  width: 100vw;

  min-height: 84px;
  padding: 2rem 30px 0;

  /* display: flex;
  flex-direction: column;
  justify-content: center; */


  .programs--desktop {
    display: none;
  }

  #d-programas,
  #d-convenios {
    display: none;
  }


  .nav--container {

    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .logo {
    width: 124px;
    height: 16px;
    cursor: pointer;

  }

  .container--programs {
    display: flex;
    align-items: center;
    height: 100%;

    gap: 15px;
  }

  .btn--yellow--new {
    height: 37px;
    padding: 9px 13px;

    background: #F6AD40;
    box-shadow: 0px 0px 12px rgba(246, 173, 64, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;



    color: #3D1891;

  }

  &.active #btn--apply--desktop {
    display: none;
  }

  .mobile--nav {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;

    .btn--apply {
      width: 90%;
      max-width: 300px;
      height: 45px;

      background: #4267CD;
      box-shadow: 0px 0px 12px rgba(66, 103, 205, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 12px;


      font-family: 'Nunito';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;


      display: flex;
      justify-content: center;
      align-items: center;


      color: #FFFFFF;

      margin: 30px auto 26px;
    }



    .menu--item {
      /* width: 300px; */
      height: 56px;

      background: #F9FAFB;
      border-radius: 8px;


      border-left: 8px solid #4267CD;

      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0 26px;


      font-family: 'Nunito';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;


      color: #33345C;


      #nav-arrow {
        transition: all .3s;
      }

    }

    .item--results {
      display: flex;
      flex-direction: column;
      gap: 15px;

      margin: 15px 0;


      font-family: 'Nunito';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;




      color: #33345C;
    }
  }

  .mobile--nav.active {

    display: flex;


    flex-direction: column;
    gap: 9px;


    margin-top: 9px;

    /* height: 260px; */
    height: auto;

  }


  &.active {
    border-radius: 0px 0px 16px 16px;
  }



  #nav-close {
    display: none;
  }

  &.active #nav-close {
    display: block;
  }

  &.active #nav-open {
    display: none;
  }



  @media (min-width: 1024px) {
    padding: 2rem 80px 0;

    .btn--yellow--new {
      width: 189px;
      height: 45px;

      background: #4267CD;
      box-shadow: 0px 0px 12px rgba(66, 103, 205, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 12px;


      font-family: 'Nunito';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;

      color: #FFFFFF;

      display: flex;
      justify-content: center;

      z-index: 1;


    }


    #btn-activar {
      display: none;
    }

    .logo {
      width: 192px;
      height: 25px;
    }

    .programs--desktop {
      display: flex;
      gap: 40px;

      margin-right: 40px;

      li {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;

        color: #4267CD;

        cursor: pointer;
      }

      #item-programas,
      #item-convenios {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        position: relative;


        #d-programas,
        #d-convenios {
          display: none;
          flex-direction: column;
          align-items: flex-start;

          width: 318px;
          position: absolute;
          /* Posiciona el div con id "d-programas" de forma absoluta */
          top: 100%;
          /* Coloca el div con id "d-programas" debajo de #item-programas */
          left: -60%;
          background: #FFFFFF;
          box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.05);
          border-radius: 0px 0px 16px 16px;

          font-family: 'Nunito';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;

          color: #33345C;

          padding: 10px;

          a {
            padding: 16px 26px;
          }

          p {
            padding-left: 20px;
          }

        }
      }




      #item-programas:hover #d-programas,
      #item-convenios:hover #d-convenios {
        display: flex;

      }
    }
  }


}







/* .nav2::before {
  height: 100vh;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  
} */