.step-description {
  margin-top: 5px;
  margin-left: 16%;

    font-size: 1.6rem;
    font-weight: 300;
    color: #666;
    margin-bottom: 1em;
}

/* Media queries para tablet */
@media (max-width: 768px) {
  .step-description {
    margin-left: 7%;
  }
}

/* Media queries para desktop */
@media (min-width: 1024px) {
  .step-description {
    margin-left: 4.5%;
    font-size: 1.8rem;
  }
}